/* #header-mobile {
      top: calc(20vw - 0.1rem);
    } */

@media screen and (max-width: 1200px) {
  #header-mobile {
    top: 7rem;
  }
  footer {
    font-size: xx-small;
  }
}

@media screen and (max-width: 950px) {
  #header-mobile {
    top: 7rem;
  }
  body {
    padding-top: 10rem;
  }
}

@media screen and (max-width: 768px) {
  #header-mobile {
    top: 5rem;
  }
}

@media screen and (max-width: 992px) {
}
